#hi {
    height:100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  
  }

body{
   padding: 0px;
   margin: 0px;
   height:100%;
   width:100%;
 }

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  
}
.typed-text
{
    font-size: 20px;
    color:white;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    
}
.cursor {
  display:inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.content p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.media
{
    align-content: center;
    text-align: center;
}
li{
    list-style: none;
    margin: 10px 30px 10px 30px;
    display: inline-block;
    font-size:10px;
    padding: 11px 10px 8px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%; 
}
li:hover{
    color:#292929;
    border: 1px solid #292929; 
    transition-delay:0s;
}